<div class="row">
  <div class="col-md-12">
     <form class="form-horizontal">
       <div class="col-sm-offset-2 col-sm-8">
         <div class="input-group">
         <input type="number" class="form-control" maxlength="64" required
           placeholder="Type a number you would like to buy">
           <span class="input-group-btn">
             <button class="btn btn-primary" type="submit">Buy</button>
           </span>
         </div>
         <div class="alert alert-info"></div>
       </div>
     </form>
  </div>
</div>

