<div class="row">
  <div class="col-md-12">
     <form class="form-horizontal">
       <label class="col-sm-offset-2 col-sm-8 control-label oracle">
         <p class="text-center">Oracle search engine</p>
       </label>
       <div class="col-sm-offset-2 col-sm-8">
         <div class="input-group">
         <input id="search" type="text" class="form-control" id="search" maxlength="256" required
           placeholder="Ask me whatever you want to know">
           <span class="input-group-btn">
             <button class="btn btn-primary" type="submit">Answer!</button>
           </span>
         </div>
         <div class="alert alert-info"></div>
       </div>
     </form>
  </div>
</div>
