$icon-font-path: "/bower_components/sass-bootstrap/fonts/";

@import 'sass-bootstrap/lib/bootstrap';
@import 'tuwyr';
@import 'gaa';
@import 'lyk';

.browsehappy {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

body {
  font-family: "Courier New", Courier, monospace;
  color: #FFFFFF;
  text-shadow: 0 1px 3px rgba(0, 0, 0, 0.5);
  background-color: #333333;
}

.navbar-default {
  background-color: #F4F4F4;
}

.dropdown-menu {
  background-color: #F4F4F4;
}

.dropdown-menu > .active > a, .dropdown-menu > .active > a:hover, .dropdown-menu > .active > a:focus {
    background-color: #C58917;
}

.sandbox-header {
  color: #C58917;
  font-weight: bold;
}

.sandbox {
  box-shadow: 0 0 100px rgba(0, 0, 0, 0.5) inset;
  color: #333333;
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 14px;
  line-height: 1.42857;
  text-shadow: none;
}

.footer {
  padding-top: 100px;
  p {
    a:hover, a:focus {
      text-decoration: none;
    }
    
    &.contact {
      font-size: .7em;
    }
  }
}